@import "../Vars.scss";

.container-routes {
  background-color: $color-gainsboro;
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 15px 30px 40px;
  border-radius: 20px;
  margin: 20px auto;
}

.routes-info {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-between;
  padding: 0px 35px 14px 37px;
}
.routes-info-datail {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.info-origin-destintation {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  & img {
    margin: 0 20px 0 20px;
  }
}
.info-time-route {
  display: flex;
  font-size: 20px;
  margin: 20px;;
  & img {
    margin: 0 20px 0 20px;
  } 
  & > div > p {
    color: $color-gray;
    font-size: 16px;
    margin: 0;
  }
}
.info-price{
  &> p{
    margin: 0;
  }
  & button{
    margin-top: 15px;
  }
}

.airline{
  font-size: 16px;
}

.price{
  font-size: 24px;
  font-weight: 600;
}