@import "../extends.scss";
@import "../Vars.scss";
@import "../inputs.scss";
@import "../buttons.scss";

.login {
  @extend .container-form;
}

.login-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 599px;
  padding: 60px 68px 40px;
}

.container-social-network {
  color: $color-white;
}

.content-login-google {
  background-color: $tenth-color;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  & svg {
    margin-right: 15px;
    font-size: 20px;
   
  }
  &:hover {
    cursor: pointer;
  }
}

.content-login-facebook {
  background-color: $fourth-color;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  & svg {
    margin-right: 15px;
    font-size: 20px;
  }
  &:hover {
    cursor: pointer;
  }
}
.contend-login-twitter {
  background-color: $fiveth-color;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 10px;
  & img {
    vertical-align: middle;
    margin: 4px;
  }
  &:hover {
    cursor: pointer;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-register {
  font-size: 16px;
  & a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: $color-black;
    &:hover {
      text-decoration: underline;
    }
  }
}
