@import "../Vars.scss";

.container-summary {
  border: 2px solid $color-gainsboro;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
  width: 300px;
  height: 440px;
  margin: 30px;
  align-items: center;
  justify-content: space-around;
  right: 0;
  position: fixed;
  & button {
    margin-top: 10px;
    width: 100%;
  }
}

.summary-count-passangers {
  font-size: 20px;
  font-weight: 600;
}

.summary-total-price {
  margin: 15px;
  & > p {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
}
.summary-date {
  font-size: 16px;
  & img {
    margin-right: 5px;
  }
}

.sumary-time-fligth {
  display: flex;
  color: $color-gray;
  font-size: 16px;
  & svg {
    margin: 0 5px;
  }
}

.sumary-link-login {
  text-align: center;
  font-size: 14px;
  color: $color-gainsboro;
  & a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
