// colors
$main-color: #3AC6F3;
$second-color: #007EFF;
$third-color: #3079ed;
$fourth-color: #4267b2;
$fiveth-color: #1da1f2;


//scale gray
$color-white: #ffffff;
$color-gainsboro:#DCDCDC;
$color-black:#000000;