// colors
$main-color: #3AC6F3;
$second-color: #007EFF;
$third-color: #3079ed;
$fourth-color: #4267b2;
$fiveth-color: #1da1f2;
$sixth--color:#32CD32;
$seventh-color: #5ad75a;
$eigth-color: #ff1919;
$nineth-color: #ff0000;
//scale gray
$color-white: #ffffff;
$color-gainsboro:#DCDCDC;
$color-gray:#808080;
$color-black:#000000;

